@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
            .gradient-border {
                position: relative;
                background: #000;
                background-clip: padding-box;
                border: 1px solid transparent;
            }
            .gradient-border::before {
                content: '';
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
                z-index: -1;
                margin: -1px;
                background: linear-gradient(to right, #2E31FF, #8b5cf6);
            }
            .grid-texture {
                background-image: radial-gradient(circle at 1px 1px, rgba(13, 13, 242, 0.05) 1px, transparent 0);
                background-size: 24px 24px;
            }
        }
