@tailwind base;
@tailwind components;
@tailwind utilities;

.circuit-bg {
            background-color: #101022;
            background-image: 
                radial-gradient(circle at 2px 2px, rgba(13, 13, 242, 0.05) 1px, transparent 0);
            background-size: 24px 24px;
        }
        .error-row {
            background: linear-gradient(90deg, rgba(220, 38, 38, 0.1) 0%, transparent 100%);
            border-left: 4px solid;
            border-image: linear-gradient(to bottom, #dc2626, #7c3aed) 1;
        }
        .custom-scrollbar::-webkit-scrollbar {
            width: 4px;
        }
        .custom-scrollbar::-webkit-scrollbar-track {
            background: #000000;
        }
        .custom-scrollbar::-webkit-scrollbar-thumb {
            background: #2d2d4d;
        }
